@model Ticket
@{
    ViewBag.Title = "Nuevo";
}

<h2>
    <a href="@Url.Action("Index","Ticket")" style="float:right; color:blue;"><i class="fas fa-arrow-circle-left"></i></a>
    Nuevo Ticket
</h2>
<hr />


